<!doctype html> 
<html ng-app="phonecatControllers"> 
	<head> 
		<meta charset="utf-8"> 
		<title>My HTML File</title>		 			
		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script> 
		<script src="js/app.js"></script> 
		<script src="js/controllers.js"></script>		
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.css">
	</head> 
	<body ng-controller="PhoneListCtrl"> 		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					Filter: <input type="text" ng-model="query">
					Sort by: 
					<select ng-model="orderProp">
						<option value="name">Alphabetical</option>
						<option value="age">Newest</option>
						<option value="-age">Oldest</option>
					</select> 
				</div>
				<div class="col-md-10">
					<ul class="phones"> 						
						<li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">							
							<a href="#/phones/{{phone.id}}" class="thumb"> 
								<img ng-src="{{phone.imageUrl}}">
							</a>				
							<a href="#/phones/{{phone.id}}">{{phone.name}}</a>				
							<p>{{phone.snippet}}</p>															
						</li>						
					</ul>
				</div>
			</div>			
			<p>query is => {{query}}</p>				
			<p>orderProp is => {{orderProp}}</p>
			<p>Total number of phones: {{phones.length}}</p>
			<p>Hello, {{staticname}} !!</p>		
			<pre>{{phones | filter:query | orderBy:orderProp | json}}</pre>
			<table>
				<tr><th>row number</th></tr>
				<tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">
					<td style="border-style: double; border-color: Purple;" ng-repeat="j in [0, 1, 2, 3, 4, 5, 6, 7]">row {{i+1}}, column {{j+1}}</td>
				</tr>
			</table>
		</div>
	</body> 
</html>